<ion-view view-title="Data" class="ion-view">
  <ion-content class="ion-content ion-content-image">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="wrapper">
      <div class="image-wrapper" ng-bind-html="imagedata.field_image">{{imagedata.field_image}}</div>
      <div class="info-wrapper">
        <p><strong>Date uploaded: </strong>{{imagedata.date}}</p>
        <p>Rice crops health: <span class="data">95%</span></p>
        <p>You need to add:</p>
        <ul>
          <li>- 20% more water</li>
          <li>- 5% more natrium weekly</li>
        </ul>
        <h4>Comments</h4>
        <ul class="list-comments">
          <li ng-repeat="comment in comments" ng-class="comment.author==username? 'current-user': ''">
            <strong>{{comment.author}}:</strong>
            <div class="comment" ng-bind-html="comment.comment">{{comment.comment}}</div>
          </li>
        </ul>
        <form name="commentForm">
          <label class="item item-input">
            <textarea placeholder="Comments" ng-model="comment"></textarea>
          </label>
          <div class="form-action">
            <button class="button button-green" type="submit" ng-click="postComment(comment)">Comment</button>
          </div>
        </form>
        <div class="row">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
