<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Monitor Growth">
  <ion-content class="padding">
   <!--  <div class="list card">
      <div class="item item-icon-left">
        <i class="icon ion-waterdrop"></i>
        1. Always shoot with the sun at your back.
      </div>
      <div href="#" class="item item-icon-left">
        <i class="icon ion-thermometer"></i>
        2. Always shoot with the sun at your back.
      </div>
      <div href="#" class="item item-icon-left">
        <i class="icon ion-beaker"></i>
        3. Always shoot with the sun at your back.
      </div>
      <div href="#" class="item item-icon-left">
        <i class="icon ion-erlenmeyer-flask"></i>
        4. Always shoot with the sun at your back.
      </div>
    </div> -->
    <div class="row">
      <div class="col col-50">
        <button class="ion-camera button icon button-full button-positive" ng-click="takePicture()"> Take a photo </button>
      </div>
      <div class="col col-50">
        <button class="ion-plus-round button icon button-full button-positive" ng-click="choosePhoto()"> Choose Image </button>
      </div>
    </div>
    <div class="row" ng-show="imgURI !== undefined">
      <button class="button icon button-full button-positive" ng-click="checkPhoto()">Verify this tree</button>
    </div>
    <div class="row" ng-show="imgURI !== undefined">
      <button class="ion-android-upload button icon button-full button-positive" ng-click="StoreInfor()"></button>
    </div>
    <div class="row image-data">
      <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
      <div class="data-sensor" ng-show="percent !== undefined">
        <span ng-show="percent !== undefined">Rice: {{percent | number:2}} %</span><br/>
        <span ng-show="sensors.soilmoisture !== undefined">Soil Moisture: {{sensors.soilmoisture}}%</span><br/>
        <span ng-show="sensors.humidity !== undefined">Humidity: {{sensors.humidity}}%</span><br/>
        <span ng-show="sensors.temp !== undefined">Temp: {{sensors.temp}}<sup>o</sup></span><br/>
      </div>
    </div>
  </ion-content>
</ion-view>
