/* Empty. Add your own CSS if you like */
/* Style Dashboard */
.dashboard .row {
  height: 33.67%;
}
.dashboard a.item{
  padding: 10px;
  text-align: center;
  height: 100%;
}
.dashboard a.item .icon {
  color: #008637;
  display: block;
  font-size: 60px;
}
.dashboard a.item span{
  display: inline-block;
}
/* General style */
.ion-view .ion-content{
  padding: 20px;
}
.button.button-upload{
  background-color:#365769;
  border-color: transparent;
  color: #fff;
}
.button.button-green{
  background-color:#38A063;
  border-color: transparent;
  color: #fff;
}
.narrow-back{
  font-size: 35px;
}
.message {
  color: red;
  text-align: center;
  padding: 5px;
}
.button-icon-above i{
  display: block;
}
/* Project List Style */
.ion-view .ion-content-projects{
  background: #EEEEEE;
}
.ion-content-projects .project-item i{
  color: #38A063;
}
.ion-content-projects .project-item{
  margin-bottom: 20px;
}
/* Project Detail */
.ion-view .ion-content-project-detail{
  background: #EEEEEE;
  bottom: 50px;
}
.image-item{
  background: #fff;
  padding: 10px;
  overflow: hidden;
}
.image-item .image-link{
  display: block;
}
.image-item .image-info {
  color: #595959;
  font-size: 12px;
}
.image-item .image{
  float: left;
}
.image-item .image img {
  margin-right: 4px;
}
.image-info{
  float: left;
  vertical-align: top;
}
.image-info h4.title{
  margin-bottom: 20px;
}
.action-image .button{
  min-width: 125px;
}

.image-data img{
  width: 100%;
}
/* Image detail style */
.ion-view .ion-content-image{
  padding: 0;
  padding-top: 20px;
}
.info-wrapper{
  background: #EEEEEE;
  padding: 20px 20px 40px 20px;
}
.image-wrapper img {
  width: 100%;
  height: auto;
}
.image-wrapper{
  padding: 0 20px;
}
.comment p{
  text-indent: 50px;
}
.image-item{
  margin-bottom: 5px;
}
.image-item .item{
  padding: 15px 15px 10px 15px;
}
.action-wrapper .col-50{
  display: inline-block;
}
.action-wrapper{
  text-align: center;
}
.form-action{
  text-align: center;
  margin-top: 10px;
}
form label{
  margin-bottom: 20px;
}
/* Popup header */
.popup-head{
  background: #38A063;
}
.popup-head h3{
  color: #fff;
}
.ion-view .list-images{
  margin-bottom: 0;
}
.ion-view .image-item {
  margin-bottom: 20px;
}
.ion-view .image-info .title {
  margin-top: 0;
}
.bar.bar-stable {
  background: #38a063;
}
.bar.bar-stable .button,
.bar.bar-stable .title {
  color: #fff;
}
.home .has-header {
  bottom: 50px;
  text-align: center;
}
.home .has-header img {
  margin-bottom: 20px;
}
.home .has-header p {
  padding: 0 56px;
  margin-bottom: 20px;
}
.home .has-header .button {
  border-radius: 0;
  height: 40px;
  line-height: inherit;
  padding: 10px 45px;
}
.list-comments li {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
.list-comments li.current-user {
  text-align: right;
}
.list-comments li.current-user strong {
  color: #38a063;
}
.list-comments li .comment p {
  text-indent: 0;
  margin-bottom: 0;
}
